@import "var";
@import "wechat-head";
@import "wechat-body";
@import "editor";

html, body {
    height: 100%;
    overflow: hidden;
}
* {
    margin: 0px;
    padding: 0px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    margin-top: 18px;
    .box-left, .box-right{
        border: $border;
        width: $sw;
        margin: 0 auto;
        height: $sh;
        align-self: center;
    }
}

.screen-shot-container {
    display: none;
}

.msg-box {
    position: absolute;
    top: 0;
    z-index:999;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 5px 10px;
    text-align: center;
    background: #e24040;
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
}

/*
.see-hide {
    animation: 2s shinning 0s;
}

@keyframes shinning{
    0%{opacity: 0}
    100%{opacity: 1;}
}*/

.hidden {
    display: none;
}
